<%- include("partials/header"); %> 
<form action="/compose" method="POST">
    <h1>Compose</h1>
    <div class="mb-3">
        <label>Title</label>
        <input type="text" name="postTitle" class="form-control" autocomplete="off">
    </div>
    <div class="mb-3">
        <label>Post</label>
        <textarea type="text" name="postBody" rows="10" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>
<%- include("partials/footer"); %>
